*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 64em) {
    html {
      font-size: 50%; } }

.item__name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem; }
  .item__name--iphone {
    align-self: end;
    justify-self: center; }
  .item__name--evaporator {
    align-self: end; }
  .item__name--mac {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end; }
  .item__name--icloud {
    z-index: 2; }

.item__sub-heading {
  font-family: 'Arvo', serif;
  font-weight: 400; }
  .item__sub-heading--iphone {
    width: 70%;
    line-height: 1.5;
    justify-self: center; }
  .item__sub-heading--evaporator {
    width: 70%; }
  .item__sub-heading--keyboard {
    font-weight: 700;
    text-transform: capitalize;
    width: 70%; }
  .item__sub-heading--mac {
    grid-row: 2/3;
    width: 60%; }
  .item__sub-heading--icloud {
    z-index: 2; }
  .item__sub-heading--controller {
    width: 50%; }
  .item__sub-heading--ipad {
    font-weight: bold;
    text-transform: capitalize;
    width: 50%; }
  .item__sub-heading--twitter {
    width: 50%;
    margin-top: -12rem;
    z-index: 2; }
  .item__sub-heading--exp {
    width: 70%; }
  .item__sub-heading--tv {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 50%;
    align-self: center; }

.item__details {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.6rem; }
  .item__details--iphone {
    width: 70%;
    align-self: start;
    justify-self: center; }
  .item__details--mac {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 80%; }
  .item__details--icloud {
    width: 70%;
    z-index: 2; }

.item__link {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700; }
  .item__link--evaporator {
    letter-spacing: normal;
    text-transform: none;
    font-weight: 400;
    text-decoration: underline;
    align-self: start; }
  .item__link--icloud {
    font-size: 1.2rem;
    letter-spacing: .24rem;
    background-color: #ffc80a;
    padding: 2rem;
    border-radius: 3rem;
    margin: 3rem 0; }

.u-heading-small {
  font-size: 2.2rem; }

.u-heading-medium {
  font-size: 3.2rem; }

.u-heading-large {
  font-size: 4.8rem; }

.u-text-align-left {
  text-align: left; }

.u-text-align-center {
  text-align: center; }

.u-color-grey {
  color: #9fa3a7; }

.u-color-black {
  color: #333333; }

.u-color-white {
  color: #fffbfb; }

.u-color-cyan {
  color: #27b9c2; }

.u-color-yellow {
  color: #ffc80a; }

.container {
  display: grid;
  grid-template-rows: repeat(7, min-content);
  grid-template-columns: repeat(4, minmax(min-content, 1fr)); }

.item--iphone {
  grid-row: 1/3;
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content); }

.item--evaporator {
  grid-row: 1/3;
  grid-column: 3/-1;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f7f8f9; }

.item--keyboard {
  grid-row: 3/5;
  grid-column: 1/2;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  background-color: #f05638; }

.item--mac {
  grid-row: 3/5;
  grid-column: 2/4;
  padding: 5rem 5rem 0;
  display: grid;
  grid-template-columns: minmax(10rem, 50%) 1fr;
  grid-template-rows: repeat(2, min-content) 1fr; }

.item--icloud {
  grid-row: 3/7;
  grid-column: 4/-1;
  display: grid;
  grid-template-rows: repeat(5, min-content);
  background-color: #8f76bc;
  overflow: hidden;
  justify-items: center; }

.item--controller {
  grid-row: 5/7;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  background-color: #f7f8f9; }

.item--ipad {
  grid-row: 5/7;
  grid-column: 2/4;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  background-color: #93b6b7;
  background-image: url("../img/UX.png");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat; }

.item--twitter {
  grid-row: 7/8;
  grid-column: 1/2;
  background-color: #38d5f4;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-items: center; }

.item--exp {
  grid-row: 7/8;
  grid-column: 2/3;
  background-color: #f7f8f9;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center; }

.item--tv {
  grid-row: 7/8;
  grid-column: 3/-1;
  background-color: #2c2c2c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; }

.item__image-box--iphone {
  width: 80%;
  grid-column: 2/3;
  grid-row: 1/-1; }

.item__image-box--keyboard {
  grid-row: 1/2;
  width: 75%; }

.item__image-box--mac {
  grid-row: 3/4;
  width: 100%;
  position: relative;
  left: -60%;
  align-self: end; }

.item__image-box--icloud {
  grid-row: 1/2;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  background-color: #8166b0;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: scale(1.7);
  margin-top: 10rem; }

.item__image-box--controller {
  width: 75%;
  grid-row: 1/2; }

.item__image-box--ipad {
  align-self: end;
  width: 80%; }

.item__image-box--twitter {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background-color: #35cfed;
  grid-row: 1/2;
  position: relative;
  z-index: 1; }

.item__image-box--tv {
  width: 80%;
  grid-column: 1/2; }

.item__image {
  display: block;
  width: 100%; }
  .item__image--mac {
    z-index: 1; }
  .item__image--icloud {
    width: 65%; }
  .item__image--ipad {
    position: relative;
    left: -10%; }
  .item__image--twitter {
    width: 4.3rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
