*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
    
    @include small-desktop{
        font-size: 57.5%;
    }
    
    @include mobile-regular{
        font-size: 48%;
    }
    
    @include mobile-small{
        font-size: 38%;
    }
    
    @include large-desktop{
        font-size: 90%;
    }
}